/* border: 1px solid red; */
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap");

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 4em;
  color: #0cb377;
}

nav ul {
  display: flex;
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
}

nav ul li {
  margin: 10px;
}

.banner {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/1458694/pexels-photo-1458694.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

h2 {
  color: #ff6644;
  font-size: -webkit-xxx-large;
}

h3 {
  margin: 20px;
  font-size: xx-large;
  font-family: "Dancing Script", cursive;
  color: #b33a1e;
  background-color: #45ffbc;
}

.high-bar div {
  font-size: xx-large;
  margin: 20px;
}

.high-bar {
  display: flex;
  justify-content: space-between;
}

.season-photo {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
}
.season-photo > div {
  width: 40%;
  flex: none;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.season-photo img {
  object-fit: cover;
}

h4 {
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
  color: #ff6644;
}

.background-vegetables {
  height: 60vh;
  background-image: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

h5 {
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
  color: #0cb377;
  display: flex;
}

.shopping-vegetables {
  object-fit: cover;
}
