@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap");

/* REPERES */
.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

/* RESET */

a {
  text-decoration: none;
  color: #ff6644;
  cursor: pointer;
}

/* GLOBAL */

.d-f {
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  color: #0cb377;
  font-weight: bold;
}

nav ul {
  display: flex;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

a:hover {
  border-bottom: 2px solid #0cb377;
}

nav ul li {
  margin: 30px;
}

.banner {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/src/images/background-banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

h2 {
  color: #ff6644;
  background: linear-gradient(to left, #0cb377, #45ffbc);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 80px;
  font-family: "Dancing Script", cursive;
}
#offer {
  background-color: #ff6644;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

h3 {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  color: #b33a1e;
  background: linear-gradient(to left, #0cb377, #45ffbc);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.menu {
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.high-bar i {
  font-size: 50px;
  color: #0cb377;
}

.high-bar {
  display: flex;
  flex-direction: column;
}

.season-photo {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
  margin-bottom: 100px;
}
.season-photo > div {
  width: 40%;
  flex: none;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.season-photo img {
  object-fit: cover;
}

h4 {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  color: #ff6644;
  display: flex;
  justify-content: center;
  text-align: center;
}

.vegetables-bar {
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.vignette {
  background-color: #ff6644;
  font-size: 30px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -120px;
}

.vignette > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  height: 100px;
  width: 100px;
  text-align: center;
}

.background-vegetables {
  background-image: url("https://images.pexels.com/photos/952483/pexels-photo-952483.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
}

.background-vegetables > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.price-bar {
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.background-vegetables .price {
  font-size: 30px;
  color: #0cb377;
  background-color: #ff7c5e;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-vegetables .achat {
  font-size: 1.5em;
}

.background-vegetables > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-width: 600px;
  margin: 20px;
  overflow: hidden;
}
.background-vegetables img {
  object-fit: cover;
  width: 100%;
  flex: auto;
}

.background-vegetables > div > div:hover img {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.browser {
  margin: 40px;
  height: 40px;
  width: 150px;
  font-size: 20px;
  background: transparent;
  color: white;
  border-color: white;
  align-self: center;
}

.history {
  display: flex;
  background-image: url("https://images.pexels.com/photos/1192034/pexels-photo-1192034.jpeg?auto=compress&cs=tinysrgb&dpr=4&w=500");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}

h6 {
  color: #b33a1e;
  font-size: 30px;
  background-color: #0cb377;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.box p {
  font-size: 35px;
  text-align: center;
}

.read {
  font-size: 2em;
}

.box {
  justify-content: space-around;
  margin: 50px;
  padding: 50px;
  width: 40em;
  height: 40em;
  background-color: #ff7c5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.newsletter {
  height: 400px;
  background: #0cb377;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.newsletter p {
  font-size: 35px;
}

.newsletter input {
  font-size: 35px;
  border-color: black;
  padding: 5px;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.social {
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  margin: 60px 40px;
}

button {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-color: black;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  header h1 {
    font-size: 50px;
  }
  nav ul {
    font-size: 20px;
  }
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 40px;
  }
  h6 {
    font-size: 20px;
  }
  .price-bar {
    font-size: 10px;
  }
  .box p {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  header h1 {
    font-size: 40px;
  }
  nav ul {
    font-size: 15px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 25px;
  }
  .vignette {
    font-size: 25px;
  }
  h5 {
    font-size: 2.5em;
  }
  .price-bar {
    width: 30%;
    font-size: 0.8em;
  }
  .box p,
  .box button {
    font-size: 1.5em;
  }
  .newsletter p,
  .newsletter input {
    font-size: 30px;
  }
  .social {
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  header h1 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 2em;
  }
  .high-bar i {
    font-size: 2em;
  }
  .price-bar {
    width: 30%;
    font-size: 0.7em;
  }
  .box p,
  .box button {
    font-size: 1.5em;
  }
  .box {
    margin: 150px;
    padding: 50px;
  }
  .newsletter {
    font-size: 0.8em;
  }
  .social {
    font-size: 1.2em;
  }
}
@media (max-width: 480px) {
  nav ul {
    font-size: 1em;
  }
  nav ul li {
    display: none;
  }
}
@media (max-width: 320px) {
  h2 {
    font-size: 2.5em;
  }
  .price-bar {
    width: 40%;
    font-size: 0.5em;
  }
  .box p,
  .box .read {
    font-size: 1em;
  }
  .box {
    height: 20em;
  }

  .newsletter {
    font-size: 0.8em;
  }
}
